PORT = 3000 // the port on which the server will be running
HOST = localhost // the host on which the server will be running
DATABASE_URL = mongodb://127.0.0.1:27017/db_name // the url of the database